<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.haycco.nativeexplorer.actionSet"
            label="NativeExplorer Action Set"
            visible="true">
         <action
               class="org.haycco.nativeexplorer.actions.NativeExplorerAction"
               icon="icons/native_explorer.png"
               id="org.haycco.nativeexplorer.actions.NativeExplorerAction"
               label="&amp;NativeExplorer Action"
               toolbarPath="NativeExplorer"
               tooltip="Native Explorer">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="org.haycco.nativeexplorer.popupMenus.contribution">
         <action
               label="Native Explorer"
               icon="icons/native_explorer.png"
               class="org.haycco.nativeexplorer.actions.NativeExplorerAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.haycco.nativeexplorer.popupMenus.NativeExplorerAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Native Explorer"
            class="org.haycco.nativeexplorer.preferences.NativeExplorerPreferencePage"
            id="org.haycco.nativeexplorer.preferences.NativeExplorerPreferencePage">
      </page>
   </extension>
</plugin>
